@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap");
main {
  font-size: 3rem;
  display: grid;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px; }

.grid, .parrafo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1px; }
  .grid__item {
    padding: 10px; }
  .grid__item:hover {
    -webkit-transform: scale(1.1, 1.1);
    transition: 1s; }

@media (min-width: 600px) {
  .grid__item {
    grid-column: minmax(auto-fit);
    grid-row: minmax(auto-fit); } }

.footer {
  color: white;
  padding: 10px; }

.parrafo {
  text-align: center;
  color: #303030; }
