@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap");
h3 {
  padding: 6px; }

p {
  justify-content: center; }

.contenedor, .contenedor2 {
  background-color: rgba(199, 183, 177, 0.559);
  flex-flow: row wrap;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc($fullvh - 100px  300px); }

.contenedor figure {
  margin: 25px;
  position: relative;
  height: 350px;
  width: 350px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer; }
  .contenedor figure figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out; }

.capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 79, 95, 0.6);
  transition: all 500ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  text-align: center; }
  .capa h3 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px; }
  .capa p {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 300px;
    margin: auto; }

.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible; }
  .contenedor figure:hover > .capa h3 {
    margin-top: 30px;
    margin-bottom: 15px; }

.contenedor2 figure {
  border: 2px solid #074f5f;
  padding: 6px;
  background-color: #fff;
  margin: 25px;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5); }
  .contenedor2 figure .capa2 h3 {
    color: black;
    font-weight: 400; }
  .contenedor2 figure .capa2 p {
    color: black;
    font-size: 15px;
    line-height: 1.5;
    max-width: 350px;
    margin: auto; }

@media (max-width: 780px) {
  .contenedor {
    flex-direction: row;
    margin: 20px;
    display: none; } }

@media (min-width: 780px) {
  .contenedor2 {
    display: none; } }

* {
  margin-top: auto;
  padding: 5px;
  box-sizing: border-box;
  transition: 0.5s; }

body {
  height: 100vh;
  width: 100%;
  position: relative; }
  body footer {
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1rem 3%;
    background-color: #074f5f;
    display: flex;
    flex-direction: column; }
  body .direc, body .terminos, body .copyright {
    margin: 1px; }
  body .direc {
    color: #fff;
    opacity: 0.6; }
  body .terminos {
    color: #fff;
    opacity: 0.7;
    padding-bottom: 7px; }

.copyright {
  color: #fff;
  opacity: 0.6; }

* {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  background-color: #074f5f;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.logo {
  padding-right: 20px;
  width: 180px;
  cursor: pointer;
  font-size: 40px;
  color: #fff;
  font-family: 'Allison', cursive; }

.navbar {
  width: 80%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative; }
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-family: monospace;
    font-size: 1.2rem; }
  .navbar ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out; }
  .navbar ul li:hover::before {
    width: 100%; }

.active::after {
  content: "";
  height: 3px;
  width: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -12px; }

@media (max-width: 1140px) {
  .navmenu {
    display: inline;
    width: 100%;
    padding-top: 20px; } }

section {
  height: 100vh;
  width: 100%; }

.contact {
  background-color: rgba(199, 183, 177, 0.559);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.contact__right-side {
  border: solid 2px #074f5f;
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px 7.3% 15px 4.7%;
  width: 70%; }

.contact__title {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 70px;
  text-transform: uppercase; }

.contact__form-wrapper, .contact__input-line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%; }

.contact__input-line {
  margin-bottom: 45px; }

.contact__label {
  font-size: 18px;
  font-weight: 600; }

.contact__input {
  height: 30px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: black;
  background-color: transparent; }

.contact__input {
  height: 25px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: black;
  background-color: transparent;
  resize: none; }

.contact__submit-button {
  padding: 18px 55px;
  background-color: black;
  color: #fff;
  font-weight: 600;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px; }

.contact__submit-button:hover {
  background-color: #074f5f; }

@media (max-width: 780px) {
  .contact__right-side {
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%; } }
