
 *{
     margin-top: auto;
     padding: 5px;
     box-sizing: border-box;
     transition: 0.5s;
 }

 body{
     height: 100vh;
     width: 100%;
     position: relative;
 
    // Estilo contenedor del footer

 footer{
     width: 100%;
     bottom: 0;
     left: 0;
     padding: 1rem 3%;
     background-color: $color-verde;
     display: flex;
     flex-direction: column;
 }

    // Estilo del texto del footer

.direc, .terminos, .copyright{
    margin: 1px;
}

.direc{
    color: $color-blanco;
}

.terminos{
    color: $color-blanco;
    padding-bottom: 7px;
}

}.copyright{
    color: $color-blanco;
}

  // Iconos de las redes sociales 

.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -1rem;
    &__button {
        margin: 10px 5px 0;
     }
}

.social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 70px;
    height: 70px;
    text-decoration: none;
    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border-radius: 100%;
        background: $color-blanco;
        text-align: center;
      }
    & svg {
        height: 40%;
        width: 40%;
      }
    &--facebook{
        color: $color-facebook !important;
      }
    &--twitter{
        color: $color-twitter !important;
      }
    &--pinterest{
       color: $color-pinterest !important;
      }
    &--youtube{
       color: $color-youtube !important;
      }
    &--instagram{
       color: $color-instagram !important;
      }
  }