
 *{
     margin-top: auto;
     padding: 5px;
     box-sizing: border-box;
     transition: 0.5s;
 }

 body{
     height: $fullvh;
     width: 100%;
     position: relative;
 
 footer{
     width: 100%;
     bottom: 0;
     left: 0;
     padding: 1rem 3%;
     background-color: $color-verde;
     display: flex;
     flex-direction: column;
 }

.direc, .terminos, .copyright{
    margin: 1px;
}

.direc{
    color: $color-blanco;
    opacity: $opacity1;
}

.terminos{
    color: $color-blanco;
    opacity: $opacity2;
    padding-bottom: 7px;
}

}.copyright{
    color: $color-blanco;
    opacity: $opacity1;
}




