*{
    margin: 0;
    padding: 0;
}

    // Estilos para el contenedor de la barra de navegacion

.container{
    max-width: none;
    width: 100%;
    background-color: $color-verde;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    // logo de la barra de navegacion

.logo{
    padding-right: 20px;
    width: 180px;
    cursor: pointer;
    font-size: 40px;
    color: $color-blanco;
    font-family: 'Allison', cursive;
}

    // Estilos de los enlaces de la barra de navegacion

.navbar{
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & ul li{
        list-style: none;
        display: inline-block;
        margin: 0 10px;
        position: relative;
    }
    & ul li a{
        text-decoration: none;
        color: $color-blanco;
        font-family: monospace;
        font-size: 1.2rem;
    }
    & ul li::before{
        content: "";
        height: 3px;
        width: 0%;
        background: $color-blanco;
        position: absolute;
        left: 0;
        bottom: -12px;
        transition: 0.4s ease-out;
    }
    
    & ul li:hover::before{
        width: 100%;
    }
}

.active::after{
    content: "";
    height: 3px;
    width: 100%;
    background: $color-blanco;
    position: absolute;
    left: 0;
    bottom: -12px;
}

@media (max-width: 1140px){
    .navmenu{
        display: inline;
        width: 100%;
        padding-top: 20px;
    }
}