
h3{
    padding: 6px;
}

p{
    justify-content: center;
}
body{
    background-color: $color-contenedor;
}

    // Estilos para fotos de productos con animacion/texto

.contenedor, .contenedor2{
    padding-left: 5.5%;
    padding-right: 5.5%;
    flex-flow: row wrap;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px  300px);
}

.contenedor figure{
    margin: auto;
    position: relative;
    margin-top: none;
    margin-bottom: 22px;
    height: 100%;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px $color-negro-bs;
    cursor: pointer;
    & figure img{
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;
    }
}

.capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: $color-verde-a;
    transition: all 500ms ease-in-out;
    opacity: $opacity0;
    visibility: hidden;
    text-align: center;
    & h3{
        color: $color-blanco;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 500ms ease-out;
        margin-top: 30px;
    }
    & p{
        color: $color-blanco;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 300px;
        margin: auto;
    }
}

.contenedor figure:hover > .capa{
    opacity: $opacity;
    visibility: visible;
    & h3{
        margin-top: 30px;
        margin-bottom: 15px;
    }
}

.contenedor2 figure{
    margin: 25px;
    padding: 0 5.5% 0 5.5%;
    border-radius: 6px;
    & .capa2 h3{
        color: $color-negro;
        font-weight: 400;
    }
    & .capa2 p{
        color: $color-negro;
        font-size: 15px;
        line-height: 1.5;
        max-width: 350px;
        margin: auto;
    }    
}

    // Estilos para fotos a modo ilustrativo

.contenedorMedio, .contenedorMedio2{
    padding-left: 5.5%;
    padding-right: 5.5%;
    flex-flow: row wrap;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medioImg{
    margin: auto;
    padding-bottom: 22px;
}

.medioImgl{
    margin: auto;
    padding: 0 0 22px 0;
}

.intro{
    font-family: 'Radley', serif;
    font-size: 25px;
    justify-content: center;
    padding: 2% 6% 1% 6%;
    color: rgb(41, 31, 92);
}

    // Adaptacion para distintas pantallas

@media (max-width: 1000px){
    .medio1{
        grid-column: 1;
        grid-row: 1;
    }
    .medio2{
        grid-column: 2;
        grid-row: 2;
    }
    .medio3{
        grid-column: 1 / 2;
        grid-row: 3;
    }
}    

@media (max-width: 779px){
    .contenedor{
        flex-direction: row;
        margin: 20px;
        display: none;
        & p{
            max-width: 350px;
            height: 1fr;
        }
    }
    .intro{
        padding-left: 9%;
        padding-right: 9%;
    }
}

@media (max-width: 400px){
    .contenedor{
        flex-direction: row;
        margin: 8px;
        display: none;
    }
    .intro{
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media (min-width: 780px){
    .contenedor2{
        display: none;
    }
}


