// Colores
$color-contenedor: rgba(199, 183, 177, 0.559);
$color-contenedor2: rgb(20, 20, 20);
$color-negro-bs: rgba(0,0,0,0.50);
$color-verde-a: rgba(7, 79, 95,0.6);
$color-blanco: #fff;
$color-verde: rgb(7, 79, 95);
$color-negro: rgb(0, 0, 0);
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-pinterest: #bd081c;
$color-youtube: #ff0000;
$color-instagram: #c13584;


// Tamaños
$fullvh: 100vh;
$opacity0: 0;
$opacity1: 0.6;
$opacity2: 0.7;
$opacity: 1;