// Colores
$color-contenedor: rgba(199, 183, 177, 0.559);
$color-negro-bs: rgba(0,0,0,0.50);
$color-verde-a: rgba(7, 79, 95,0.6);
$color-blanco: #fff;
$color-verde: rgb(7, 79, 95);
$color-negro: rgb(0, 0, 0);


