
$colors: (
    gris: rgb(48, 48, 48),
    blanco: rgb(255, 255, 255),
);


$spacing: (
    spacing-smallpx: 1px,
    spacing-mediumpx: 10px,
    spacing-largepx: 20px,
    spacing-smallrem: 1rem,
    spacing-mediumrem: 3rem,
    spacing-largerem: 5rem,
);
